<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이디야 음료 - 이디야 커피</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./../style/index.css" />
  </head>

  <body>
    <div class="skipNav">
      <a href="#main" class="skipNav">
        <span>본문 바로가기</span>
      </a>
    </div>
    <header>
      <h1 class="logo">
        <a href="./../index.html" class="logo__link"
          ><img src="./../assets/images/brand.svg" alt="이디야 커피 로고"
        /></a>
      </h1>
      <button class="header__button">
        <span class="header__button--top"></span>
        <span class="header__button--middle"></span>
        <span class="header__button--bottom"></span>
      </button>
      <nav class="navigation">
        <h2 class="sr-only">메인 메뉴바</h2>
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="./login.html">로그인</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="./signup.html">회원가입</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/">이디야 디자인</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/">이디야 음료</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./news.html">이디야 뉴스</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./store.html">매장 찾기</a>
          </li>
        </ul>
        <button type="button" aria-label="메뉴 닫기">
          <img src="./assets/images/button-detail-close.svg" alt="" />
        </button>
      </nav>
    </header>

    <main id="main">
      <h2 class="menu sr-only">이디야 음료</h2>
      <ul class="menu__list">
        <!-- ICED 벚꽃라떼 -->
        <li class="menu__item">
          <h3><button class="menu__item--front">ICED 벚꽃라떼</button></h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              ICED 벚꽃라떼<span lang="en">Cherry Blossom Latte</span>
            </h3>
            <p class="menu__item--back__detail">
              은은항 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>393kcal</dd>
              <dt>포화지방</dt>
              <dd>18.6g</dd>
              <dt>당류</dt>
              <dd>35g</dd>
              <dt>나트륨</dt>
              <dd>149mg</dd>
              <dt>단백질</dt>
              <dd>7g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- HOT 벚꽃라떼 -->
        <li class="menu__item">
          <h3><button class="menu__item--front">HOT 벚꽃라떼</button></h3>
          <article class="menu__item--back">
            <h2 class="menu__item--back__title">
              HOT 벚꽃라떼<span lang="en">Cherry Blossom Latte</span>
            </h2>
            <p class="menu__item--back__detail">
              은은항 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>430kcal</dd>
              <dt>포화지방</dt>
              <dd>19.0g</dd>
              <dt>당류</dt>
              <dd>38g</dd>
              <dt>나트륨</dt>
              <dd>149mg</dd>
              <dt>단백질</dt>
              <dd>10g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- ICED 브라우니 쇼콜라 -->
        <li class="menu__item">
          <h3><button class="menu__item--front">ICED 브라우니 쇼콜라</button></h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              ICED 브라우니 쇼콜라<span lang="en">Brownie Chocolate</span>
            </h3>
            <p class="menu__item--back__detail">
              깊고 진한 초콜릿의 맛에 부드러운 휘핑크림과 브라우니를 함께 어울러져 고급스러운
              디저트같은 초콜릿 음료
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>503kcal</dd>
              <dt>포화지방</dt>
              <dd>20.8g</dd>
              <dt>당류</dt>
              <dd>42g</dd>
              <dt>나트륨</dt>
              <dd>262mg</dd>
              <dt>단백질</dt>
              <dd>9g</dd>
              <dt>카페인</dt>
              <dd>12mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- HOT 브라우니 쇼콜라 -->
        <li class="menu__item">
          <h3>
            <button class="menu__item--front">HOT 브라우니 쇼콜라</button>
          </h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              HOT 브라우니 쇼콜라<span lang="en">Brownie Chocolate</span>
            </h3>
            <p class="menu__item--back__detail">
              깊고 진한 초콜릿의 맛에 부드러운 휘핑크림과 브라우니를 함께 어울러져 고급스러운 디저트
              같은 초콜릿 음료
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>503kcal</dd>
              <dt>포화지방</dt>
              <dd>20.9g</dd>
              <dt>당류</dt>
              <dd>42g</dd>
              <dt>나트륨</dt>
              <dd>299mg</dd>
              <dt>단백질</dt>
              <dd>9g</dd>
              <dt>카페인</dt>
              <dd>12mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- 제주청귤 오리지널 -->
        <li class="menu__item">
          <h3>
            <button class="menu__item--front">제주청귤 오리지널</button>
          </h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              ICED 벚꽃라떼<span lang="en">Jeju Green Tangerine Tea</span>
            </h3>
            <p class="menu__item--back__detail">
              청정 제주지역에서 자라난 귀한 청귤의 풍부한 과육을 맛볼 수 있는 새콤달콤한 홈메이드
              스타일 과일차
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>218kcal</dd>
              <dt>포화지방</dt>
              <dd>0.1g</dd>
              <dt>당류</dt>
              <dd>51g</dd>
              <dt>나트륨</dt>
              <dd>4mg</dd>
              <dt>단백질</dt>
              <dd>0g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- 제주청귤 블라썸 -->
        <li class="menu__item">
          <h3>
            <button class="menu__item--front">제주청귤 블라썸</button>
          </h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              제주청귤 블라썸<span lang="en">Jeju Green Tangerine Tea</span>
            </h3>
            <p class="menu__item--back__detail">
              청귤의 새콤함이 복숭아, 포도 등의 다양한 과일향과 함께 어우러져 밸런스가 훌륭한
              블렌딩티
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>202kcal</dd>
              <dt>포화지방</dt>
              <dd>0.1g</dd>
              <dt>당류</dt>
              <dd>46g</dd>
              <dt>나트륨</dt>
              <dd>5mg</dd>
              <dt>단백질</dt>
              <dd>1g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- 석류 오리지널 -->
        <li class="menu__item">
          <h3>
            <button class="menu__item--front">석류 오리지널</button>
          </h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              석류 오리지널<span lang="en">Pomegranate Tea</span>
            </h3>
            <p class="menu__item--back__detail">
              석류 특유의 산뜻한 향과 깔끔한 뒷맛이 느껴지며, 과육이 한알 한알 살아있는 붉은 빛의
              매력적인 과일차
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>210kcal</dd>
              <dt>포화지방</dt>
              <dd>0.1g</dd>
              <dt>당류</dt>
              <dd>42g</dd>
              <dt>나트륨</dt>
              <dd>5mg</dd>
              <dt>단백질</dt>
              <dd>0g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
        <!-- 석류 애플라임 -->
        <li class="menu__item">
          <h3>
            <button class="menu__item--front">석류 애플라임</button>
          </h3>
          <article class="menu__item--back">
            <h3 class="menu__item--back__title">
              석류 애플라임<span lang="en">Pomegranate Apple Lime</span>
            </h3>
            <p class="menu__item--back__detail">
              산뜻한 석류에 다양한 과일과 꽃, 그리고 샴페인의 향이 더해져 보다 깊고 중후한 맛이
              느껴지는 블렌딩티
            </p>
            <dl class="menu__item--back__nutrition">
              <dt>칼로리</dt>
              <dd>220kcal</dd>
              <dt>포화지방</dt>
              <dd>0.1g</dd>
              <dt>당류</dt>
              <dd>42g</dd>
              <dt>나트륨</dt>
              <dd>7mg</dd>
              <dt>단백질</dt>
              <dd>1g</dd>
              <dt>카페인</dt>
              <dd>0mg</dd>
            </dl>
            <button class="menu__item--back__close" aria-label="메뉴 세부정보 닫기"></button>
          </article>
        </li>
      </ul>
    </main>

    <footer>
      <ul class="guide__list">
        <li><a href="/" class="guide__link">개인정보처리방침</a></li>
        <li><a href="/" class="guide__link">멤버스 이용약관</a></li>
        <li><a href="/" class="guide__link">가맹 안내</a></li>
        <li><a href="/" class="guide__link">대량쿠폰구매</a></li>
        <li><a href="/" class="guide__link">채용안내</a></li>
        <li><a href="/" class="guide__link">고객의 소리</a></li>
        <li><a href="/" class="guide__link">사이트맵</a></li>
        <li><a href="/" class="guide__link">점주의 방</a></li>
      </ul>
      <img src="./../assets/images/brand-dark.svg" alt="이디야 커피 로고" />
      <address class="address">
        <ul>
          <li>서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동 221-17)</li>
          <li>
            <span>TEL</span><span aria-hidden="true"> : </span
            ><a href="tel:02-543-6467">02-543-6467</a>
          </li>
          <li>
            <span>FAX</span><span aria-hidden="true"> : </span
            ><a href="tel:02-543-7191">02-543-7191</a>
          </li>
          <li><span>사업자등록번호</span><span aria-hidden="true"> : </span>107-86-1630</li>
          <li><span>통신판매업 신고</span><span aria-hidden="true"> : </span>강남 제 002519호</li>
          <li><span>대표이사</span><span aria-hidden="true"> : </span>문창기</li>
        </ul>
      </address>
      <small class="copyright">&copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small>
    </footer>
  </body>
</html>
