<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>매장 찾기 - 이디야 커피</title>
		<link rel="stylesheet" href="./css/index.css" />
	</head>

	<body>
		<header></header>
		<main class="store">
			<h2 class="sr-only">매장 찾기</h2>
			<div class="searchSection">
				<ul class="searchOption">
					<li>
						<button class="searchOption__button">점포명</button>
					</li>
					<li>
						<button class="searchOption__button">주소</button>
					</li>
				</ul>
				<form action="/" class="search__form">
					<fieldset>
						<legend>매장 검색 영역</legend>
						<div class="search__box">
							<label class="sr-only" for="search__input">검색</label>
							<input
								type="search"
								id="search__input"
								placeholder="검색어 입력(예: 길음)"
							/>
							<button type="submit" class="search__button">
								<img src="icon-search.svg" alt="검색 버튼" />
							</button>
						</div>
					</fieldset>
				</form>
				<ol class="searchResult">
					<li class="searchResult__item">
						<img
							class="listItem__thumbnail"
							src="./../assets/images/news-thumbnail.jpg"
							alt="한 조각의 평화 밀크레이프, 수플레 치즈, 초코 티라미수, 데블스 초코"
							width="60"
							height="60"
							loading="lazy"
						/>
						<dl>
							<dt class="listItem__title">
								올해 추석은 커피향 가득"…이디야커피, 선물세트 5종 선봬
							</dt>
							<dd class="listItem__description">
								이디야커피는 추석 명절을 맞아 인기 제품을 한데 모은 '추석
								선물세트'를 출시한다고 4일 밝혔다.
							</dd>
						</dl>
					</li>
					<li class="searchResult__item">
						<img
							class="listItem__thumbnail"
							src="./../assets/images/news-thumbnail.jpg"
							alt="한 조각의 평화 밀크레이프, 수플레 치즈, 초코 티라미수, 데블스 초코"
							width="60"
							height="60"
							loading="lazy"
						/>
						<dl>
							<dt class="listItem__title">
								올해 추석은 커피향 가득"…이디야커피, 선물세트 5종 선봬
							</dt>
							<dd class="listItem__description">
								이디야커피는 추석 명절을 맞아 인기 제품을 한데 모은 '추석
								선물세트'를 출시한다고 4일 밝혔다.
							</dd>
						</dl>
					</li>
				</ol>
			</div>
			<img
				src="./../assets/media/coffee-latte-art-cover.png"
				alt="지도 대신 넣은 이미지"
			/>
		</main>
		<footer></footer>
	</body>
</html>
